<h1 class="mt4">Cursos Cadastrados</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Novo</li>
</ol>
<div class="container">
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Categoria:</label>
                    <select class="form-control" 
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="curso.categoria.id">
                        <option value="">Selecione...</option>
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                            {{categoria.descricao}}
                        </option>
                    </select>
                </div>
            </div>
          
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição:</label>
                        <input class="form-control"
                        [(ngModel)]="curso.descricao"
                        type="text" name="descricao" id="inputDescricao">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Data Inicio:</label>
                        <input class="form-control"
                        [(ngModel)]="curso.dataInicio"
                        type="date" name="descricao" id="inputDataInicio">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Data Fim:</label>
                        <input class="form-control"
                        [(ngModel)]="curso.dataFim"
                        type="date" name="dataFim" id="inputDataFim">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Número Alunos:</label>
                        <input class="form-control"
                        [(ngModel)]="curso.qtdeAlunos"
                        type="number" name="qtdeAlunos" id="qtdeAlunos">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
    </form>
</div>