
<ol class="breadcrumb mb-4" style="margin-top: 10px;">
    <li class="breadcrum-bitem active">Listagem de Cursos</li>
</ol>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{mensagemSucesso}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{mensagemErro}}
            </div>          
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)= "novoCadastro()"><i class="fa fa-plus"></i> Novo</button>
        </div>
    
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Início</th>
                        <th>Fim</th>
                        <th>Número de Alunos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of cursos">
                        <td>{{curso.id}}</td>
                        <td>{{curso.descricao}}</td>
                        <td>{{ curso.dataInicio | date :  "dd/MM/yyyy" }}</td>
                        <td>{{ curso.dataFim | date :  "dd/MM/yyyy" }} </td>
                        <td>{{curso.qtdeAlunos}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink = "/cursos-form/{{curso.id}}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click) = "preparaDelecao(curso)" data-toggle="modal" data-target="#modaldelecao">
                                 <i class="fa fa-trash"></i>
                             </button>

                        </td>
                    </tr>
                    


                </tbody>
            </table>
        </div>
    
    </div>

    <div id="modaldelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">

                    <h4>Confirmação ?</h4>
                </div>
                <div class="modal-body" *ngIf="cursoSelecionado">
                   Confirma a Deleção do curso: {{cursoSelecionado.descricao}} ?

                </div>

                <div class="modal-footer">

                    <button class="btn btn-success" (click) = "deletarCurso()" data-dismiss="modal">
                       Confirmar
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        Cancelar
                     </button>
                </div>

            </div>
        </div>


    </div>

</div>

